# https://toml.io/en/latest
# required
active = "set1"
path = "/mnt/big data/my game"

# optional
# "game ID" is the basename of this toml configuration file
mod_root_path = "/mnt/big data/mods" # default: "$XDG_DATA_HOME/mod-manager/game ID"
writable = true # This game needs write access to the game folder
run_pre_command = true # The pre_commands should always run

# #### Basic mod set example ####

["set1"] # Required - referenced in "active"
writable = true # Optional - this mod set requires write access to the game folder
mods = [
    # upper mods are prioritized over lower ones
    "mod1", # This folder has to exist in the "mod_root_path"
    "mod2", # This folder has to exist in the "mod_root_path"
    "mod3", # This folder has to exist in the "mod_root_path"
]

# #### Advanced mod set example ####

# sets can be nested - beware you don't create an infinite loop!
["everything"]
mods = [
    "mod1", # This folder has to exist in the "mod_root_path"
    "Visual Enhancements", # ID of a set which is defined below
    "Quality of Life", # ID of a set which is defined below
]

["Quality of Life"]
mods = [
    # I'm tired of picking up everything - let it go into my inventory automagically:
    "AutoLoot", # This folder has to exist in the "mod_root_path"
    # I hate those stupid minigames which prevent me playing the real deal
    # Skip them:
    "Skip minigames", # This folder has to exist in the "mod_root_path"
]
# This set needs a special command to run
command = "my_special_command" # Defined below

["Visual Enhancements"]
run_pre_command = true # This mod set should run pre_commands
mods = [
    # Provides textures with a higher quality:
    "4k Textures", # This folder has to exist in the "mod_root_path"
    # I like walking on sunshine:
    "Sunny weather", # This folder has to exist in the "mod_root_path"
]

# Command that will run after mounting and before the main game
[[pre_command]]
wait_for_exit = false # Continue after this command exits
delay = 60 # Delay following stuff by seconds
command = [
    "wine",
    "my-pre-command.exe",
    "--yes",
]
[pre_command.environment]
WINEPREFIX = "/path/to/prefix"
MY_ENV = "variable"

# A second command is also neccessary
[[pre_command]]
command = [
    "bottles-cli",
    "run",
    "--bottle='my-bottle'",
    "--program='my-program'",
]
[pre_command.environment]
MY_ENV = "variable2"

# Special command referenced above
["my_special_command"]
wait_for_exit = false # Continue after this command exits
delay = 60 # Delay following stuff by seconds
command = [
    "wine",
    "my-pre-command.exe",
    "--yes",
]
["my_special_command".environment]
WINEPREFIX = "/path/to/prefix"
MY_ENV = "variable"
